header.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    position: fixed;
    width: 100vw;
    top:0;
    nav.header-menu{
        display: flex;
        gap:60px;

        a{
            
            padding: 8px 3px;
        }
    }   
}